<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      buttons: {
        primary: {
          label: 'Print',
          print: true
        }
      },
  buttons: {
    primary: {
      label: "Refresh",
      message: 'bar_save',
      loading: false
    },
    secondary: [
      { label: "Help", callback: function(){ alert('help'); } },
      { label: "Configuration", href: "http://my-app.com/preview_url", target: "new" }
    ],
  },
  title: 'Call Phone Orders',
  icon: 'https://example.com/path/to/icon.png',
  pagination: {
    next: {
      href: "/posts?page=2"
    },
    previous: {
      callback: function(){ alert('no previous pages') },
      loading: false
    }
  }
});
  });
</script>
<div class="section-listing">
    <div class="section-options">
        <ul class="section-tabs">
            <li class="active"><%= link_to "All", home_index_path %></li>
            <li class="active"><%= link_to "Pending", home_pending_path %></li>
            
        </ul>
        <div class="section-filter">
          <div class="section-row">
            <%= form_tag("home/show", method: "post") do %>
            <%= label_tag(:name, "Buscar por:") %>
            <%= text_field_tag(:name) %>
            <%= submit_tag("Buscar") %>  
            <% end %>
          </div>
        </div>
        <div class="section-content">
            <div class="section-row">
                <table class="table-section">
                  <thead>
                  <tr>
                      <th class="sortable">Order #</th>
                      <th class="sortable">Date</th>
                      <th class="sortable">Email</th>
                      <th class="sortable">Payment Status</th>
                      <th class="sortable">Total</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                      <% @orders.each do |order| %>
                        <tr>
                          <td><%= order.name %> </a></td>
                          <td><%= order.created_at.to_datetime.to_formatted_s(:short) %></td>
                          <td><%= order.email %></td>
                          <td><%= order.financial_status %></td>
                          <td><%= number_to_currency order.total_price %></td>
                          <td><a href="#top" class="btn default">Cobrar</a></td>
                        </tr>
                      <% end %>
                      <% if @orders.size == 0 %>
                        <em>No se encontraron ordenes</em>
                      <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>        
