<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      buttons: {
        primary: {
          label: 'Print',
          print: true
        }
      },
  buttons: {
    primary: {
      label: "Refresh",
      message: 'bar_save',
      loading: false
    },
    secondary: [
      { label: "Help", callback: function(){ alert('help'); } },
      { label: "Documentacion", href: "http://docs.shopify.com/embedded-app-sdk", target: "new" }
      { label: "Configuration", href: "http://my-app.com/preview_url", target: "new" }
    ],
  },
  title: 'Ordenes Pendientes',
  icon: 'shopify.png',
  pagination: {
    next: {
      href: "/posts?page=2"
    },
    previous: {
      callback: function(){ alert('no previous pages') },
      loading: false
    }
  }
});
  });
</script>

<div class="section">
<div class="section-summary">
<div class="section-listing">
    <div class="section-options">
        <ul class="section-tabs">
            
            <li class="active"><%= link_to "Ordenes Pendientes", pending_path %></li>
            
        </ul>
        <div class="section-filter">
          <div class="section-row">
            <%= form_tag(show_path, method: "get") do %>
              <%= label_tag(:name , "Buscar por:") %>
              <%= text_field_tag(:name) %>
              <%= submit_tag("Buscar, ej. #1001") %>  
            <% end %>
          </div>
        </div>
        <div class="section-content">
            <div class="section-row">
                <% if @orders.size == 0 %>
                  <em>No se encontraron ordenes รณ se capturo mal el numero de la orden</em>
                  <% else %>
                  <table class="table-section">
                    <thead>
                    <tr>
                        <th class="sortable">Order #</th>
                        <th class="sortable">Date</th>
                        <th class="sortable">Email</th>
                        <th class="sortable">Payment Status</th>
                        <th class="sortable">Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @orders.each do |order| %>
                          <tr>
                            <td><a href="#" class="help" onclick="ShopifyApp.redirect('/orders/<%= order.id %>')"><%= order.name %></a></td>
                            <td><%= order.created_at.to_datetime.to_formatted_s(:short) %></td>
                            <td><%= order.email %></td>
                            <td><span class="tag yellow"><%= order.financial_status %></span></td>
                            <td><%= number_to_currency order.total_price %></td>
                            <td><a href="#top" class="btn default">Cobrar</a></td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>                  
                <% end %>
            </div>
        </div>
        <a href="#" onclick="ShopifyApp.Modal.open({
  src: 'https://example.com/app/path',
  title: 'A new modal',
  width: 'small',
  height: 300,
  buttons: {
    primary: { label: 'OK' },
    secondary: [
      { label: 'Cancel', callback: function (label) { ShopifyApp.Modal.close(); } }
    ]
  }
}, function(result, data){
  alert('result: ' + result + '   data: ' + data);
});">Alert modal</a>
    </div>
</div>
</div>
</div> 
